<ul class="navbar-nav">
  <li>
    <div class="dropdown drp-user" ngbDropdown placement='auto'>
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
        <ngx-avatar [name]="user"></ngx-avatar>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <ngx-avatar [name]="user"></ngx-avatar>
          <span>{{user}}</span>
          <a [routerLink]="" class="dud-logout" title="Logout" (click)="LogOut()">
            <i class="feather icon-log-out"></i>
          </a>
        </div>
        <ul class="pro-body">
          <!-- <li><a href="javascript:" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li> -->
          <li><a [routerLink]="['/sign-in']" (click)="LogOut()" class="dropdown-item"><i class="feather icon-log-out"></i> Logout</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
