<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Users list">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Username</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i = index">
                <td>{{i+1}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                <td class="text-center edit-block">
                  <span class="edit">
                    <button type="button" class="btn btn-success btn-sm" (click)="openModal(user)">Edit</button>
                  </span>
                  <span class="delete">
                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Delete</button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
    <div class="col-md-12">
      <div class="text-right">
        <button class="btn btn-square btn-primary btn-new-item" (click)="openModal()">Add User</button>
      </div>
    </div>
</div><br>
<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Password reset requests list">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Username</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of passwordResetRequests; let i = index">
              <td>{{i+1}}</td>
              <td>{{user.firstname}}</td>
              <td>{{user.lastname}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.email}}</td>
              <td>{{user.username}}</td>
              <td class="text-center edit-block">
                <span class="edit">
                  <button type="button" class="btn btn-success btn-sm" (click)="resetPassword(user.id_user)">Reset Password</button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>  